div#content {
  font-size: 15pt;
}

div#navigation {
  font-size: 32pt;
  padding: 14px;
}

.inner {
  width: 70%;
  margin: auto;
}

.centred {
  text-align: center;
}

img.gallery {
  width: 100%;
}